<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Recipe Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onModalOpen(null, 'add')">Add Recipe <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchRecipes(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Recipes..." required>
    </form>
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let recipe of recipes" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="https://cdn.nohat.cc/thumb/f/720/comvecteezy568266.jpg" alt=""
                            class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{recipe?.name}}</h5>
            <p class="m-0">{{recipe?.description}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Recipe id : {{recipe?.recipeId}}</li>
          <li class="list-group-item">Somethink {{recipe?.created}}</li>
          <li *ngIf="recipe.parentRecipe!=null && recipe.parentRecipe!=''" class="list-group-item">You may like
            : {{recipe?.parentRecipe}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onModalOpen(recipe, 'edit')" class="btn btn-primary tooltips" data-placement="top"
               data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onModalOpen(recipe, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
               data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Recipe Modal -->
  <div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRecipeModalLabel">Add Recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddRecipe(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" ngModel name="description" class="form-control" id="description"
                     placeholder="Description" required>
            </div>
            <div class="form-group">
              <label for="parentId">Parent recipe ID</label>
              <input type="number" ngModel name="parentId" class="form-control" id="parentId"
                     placeholder="Parent recipe id">
            </div>
            <div class="modal-footer">
              <button type="button" id="add-recipe-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save recipe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateRecipeModal" tabindex="-1" role="dialog" aria-labelledby="RecipeEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateRecipeModalLabel">Edit Recipe {{editRecipe?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <input type="hidden" ngModel="{{editRecipe?.recipeId}}" name="recipeId" class="form-control" id="recipeId"
                     placeholder="Recipe id">
              <label for="name">Name</label>
              <input type="text" ngModel="{{editRecipe?.name}}" name="name" class="form-control" id="name"
                     placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" ngModel="{{editRecipe?.description}}" name="description" class="form-control"
                     id="description"
                     placeholder="Some description" required>
            </div>
            <input type="hidden" ngModel="{{editRecipe?.created}}" name="created" class="form-control"
                   id="created" placeholder="Some date">
            <input type="hidden" ngModel="{{editRecipe?.parentRecipe}}" name="parentRecipe" class="form-control"
                   id="parentRecipe" placeholder="Some parent">
            <div class="modal-footer">
              <button type="button" id="edit-recipe-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="editForm.invalid" (click)=" onUpdateRecipe(editForm.value)" data-dismiss="modal"
                      class="btn btn-primary">Save
                changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete Recipe {{deleteRecipe?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteRecipe(deleteRecipe?.recipeId)" class="btn btn-danger" data-dismiss="modal">Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no recipes -->
<div *ngIf="recipes?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO RECIPES!</h4>
    <p>No Recipes were found.</p>
  </div>
</div>

